body{ 
    background-image:url("https://i.ibb.co/PYBmgQD/fondo-web-codecows.jpg");
    margin: 0;
    padding: 0;
}
.bgcolor{
    background-color: #c2c2c2;
    height: 280px;
    width: 2900px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.encabezado{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 1350px;
}
    

.bgcolormain{
    background-color: #c2c2c2;
    height: 1000px;
    width: 2900px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.imagenes{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 35px 35px; 
        grid-template-areas: 
          ". ."
          ". ."; 
          width: 85%; 
          height: 50%; 
          padding: 80px 450px;
          
}
   

.bgcolorlogos{
    background-color: #939393;
    height: 130px;
    width: 2850px;
    margin: 780px 25px 100px 25px;
    
    
}

.bgcolorfooter{
    background-color: #a3a3a3;
    height: 90px;
    width: 2900px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.footer{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 1350px;
    padding-top: 10px;
}

